

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>News</title>
    <link href="{{ url_for('static', path='css/bulma.min.css') }}" rel="stylesheet">
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <h4 class="title">Ytgon</h4>
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a href="/about" class="button is-primary">
                  <strong>About me</strong>
                </a>
                
              </div>
            </div>
          </div>
        </div>
      </nav>
    <!-- end navbar -->
  <section class="section">
      <div class="container">
          
          {%for index in data%}
          <div class="columns">
              <div class="column is-full">
                  <div class="card">
                    
                    <div class="card-content">
                      <div class="media">
                        <div class="media-left">
                          <figure class="image is-64x64">
                            <img src="{{index.urlToImage}}" alt="Placeholder image">
                          </figure>
                        </div>
                        <div class="media-content">
                          <p class="title is-4">{{index.title}}</p>
                          <p class="subtitle is-6">{{index.description}}</p>
                          <a href="{{index.url}}" target="_blank">Read More</a>
                        </div>
                      </div>
                  
                      <div class="content">
                        {{index.content}}
                        
                        <br>
                        <time datetime="2016-1-1">{{index.publishedAt}}</time>
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
    </div>
    {%endfor%}
    
    
</div>
  </section>
  </body>
</html>